@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500&family=Ruda:wght@400;700;900&family=Spartan:wght@300;400;500&display=swap");

html{
  line-height:1.25;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* GENERAL SETUP & STYLING */
html {
  cursor: default;
  font-size: 125%;
}

a, button {
  cursor: pointer;
}

h1, h2, h3, p, button, a {
  font-family: 'Ruda', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, label {
  color: #EEE;
  line-height: 1;
}

p, label {
  font-family: 'Spartan', sans-serif;
}

.App {
  background-image: url('./assets/layered-waves-haikei.svg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
}

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
  width: 90%;
}

/* HEADER SECTION */
header {
  background-color: #4f8a8bf1;
  z-index: 20;
  padding: 20px 0;
  position: sticky;
    top: 0;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header button{
  background-color: #222831;
  border: 3px solid #FBD46D;
  border-radius: 10px;
  color: #EEE;
  padding: 10px 20px;
  transition: all 0.2s;
}

header button:focus,
header button:hover {
  background-color: #EEE;
  border: 3px solid #222831;
  box-shadow: -3px 3px 0px #FBD46D;
  color: #222831;
}

/* MAIN SECTION */
main {
  padding: 20px 0 200px;
}

ul {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: #EEEEEEe1;
  border: 5px solid #4F8A8B;
  border-radius: 20px;
  padding: 10px 20px;
  position: relative;
  z-index: 10;
}

li:hover,
li:focus,
li:focus-within {
  box-shadow: -3px 3px 3px #FBD46D;
}

h3 {
  font-size: 1.25rem;
  margin-top: 10px;
  text-align: center;
}

.system {
  font-size: 0.8rem;
  text-align: center;
}
.synopsis {
  font-size: 0.8rem;
  margin-top: 15px;
}
.startedBy {
  font-size: 0.9rem;
  margin: 15px 0;
}

li button {
  background-color: #4F8A8B;
  border: 3px solid #222831;
  border-radius: 50%;
  box-shadow: -3px 3px 3px #222831;
  color: #222831;
  font-weight: 900;
  height: 40px;
  line-height: 1;
  padding: 5px;
  position: absolute;
    top: -15px;
    right: -15px;
  transition: border 0.2s, color 0.2s;
  visibility: hidden;
  width: 40px;
}

li:focus button,
li:focus-within button,
li:hover button {
  visibility: visible;
}

li button:active,
li button:focus,
li button:hover {
  border: 3px solid #FBD46D;
  color: #FBD46D;
}

/* ASIDE SECTION */
aside {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  display: flex;
    justify-content: center;
    align-items: center;
  height: calc(99vh - 20px);
  position: fixed;
    top: 10px;
    left: 10px;
  width: calc(99vw - 20px);
  z-index: 30;
}

.hidden {
  display: none;
}

form {
  background-color: #4F8A8B;
  border: 5px solid #FBD46D;
  border-radius: 20px;
  margin: auto;
  padding: 10px 20px;
  /* overflow-y: scroll; */
  position: relative;
  text-align: center;
  width: 500px;
}

h2 {
  font-size: 1.5rem;
  margin-top: 10px;
}

form * {
  display: block;
  width: 100%;
}

label {
  margin-top: 20px;
}

input {
  overflow-x: scroll;
}

textarea {
  height: 100px;
  resize: vertical;
}

input,
textarea {
  background-color: #EEE;
  border-radius: 10px;
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.8rem;
  margin-top: 5px;
  padding: 10px;
}

input:focus,
textarea:focus {
  box-shadow: 3px 3px 3px #222831;
}

form button {
  background-color: #222831;
  border: 3px solid #FBD46D;
  border-radius: 10px;
  color: #EEE;
  height: 40px;
  line-height: 0;
  margin: 20px 0;
  transition: all 0.2s;
}

form button:focus,
form button:hover {
  background-color: #EEE;
  border: 3px solid #222831;
  box-shadow: -3px 3px 0px #FBD46D;
  color: #222831;
}

.closeFormButton {
  background-color: #4F8A8B;
  border: 3px solid #222831;
  border-radius: 50%;
  box-shadow: -3px 3px 3px #222831;
  color: #222831;
  font-weight: 900;
  height: 40px;
  line-height: 1;
  padding: 5px;
  position: absolute;
    top: 20px;
    right: 20px;
  transition: all 0.2s;
  width: 40px;
}

.closeFormButton:active,
.closeFormButton:focus,
.closeFormButton:hover {
  border: 3px solid #FBD46D;
  color: #FBD46D;
}


/* FOOTER SECTION */
footer {
  background-color: #FBD46D;
  padding: 10px 0;
  position: fixed;
    bottom: 0;
  text-align: right;
  width: 100%;
}


footer a {
  color: #222831;
  text-decoration: none;
  /* width: calc(25% - 20px); */
}

/* RESPONSIVE DESIGN */

@media (max-width: 1680px) {
  ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1350px) {
  .wrapper {
    width: 95%;
  }
  ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1020px) {
  .wrapper {
    width: 90%;
  }
  ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-height: 750px) {
  aside {
    border-radius: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    overflow-y: scroll;
  }
  .closeFormButton {
    position: fixed;
  }
}

@media (max-width: 665px) {
  h1 {
    font-size: 1.75rem;
  }
  ul {
    grid-template-columns: 1fr;
  }
  aside {
    border-radius: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
  }
}

@media (max-width: 550px) {
  header.div {
    flex-wrap: wrap;
  }
  header button {
    width: 100%;
  }
}